<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">

</head>
<body>

<div class="head">
    <div class="logo"></div>
    <div class="title" >华迪基层公开信息服务</div>
    <div class="headerlight">
        <ul>
            <li>个人登录</li>
            <li>政府登录</li>
            <li><a href="login">登录</a></li>>
            <li class="last">退出</li>
        </ul>
        <div class="search">
            <input type="text" name="信息搜索"  class="left">
            <input type="submint" name=""  class="right">
        </div>
    </div>
</div>

<div class="nav">
    <div class="con">
        <div>首页</div>
        <div>基层信息公开
            <ul>
                <li>党务政务村务公开</li>
                <li>热点搜集公开</li>
                <li>廉政公开</li>
                <li>公开满意度评价</li>
            </ul>
        </div>
        <div>三资管理
            <ul>
                <li>总体框架</li>
                <li>资金管理</li>
                <li>资产管理</li>
                <li>资源管理</li>
                <li>工程项目管理</li>
                <li>收入支出管理</li>
                <li>报表管理</li>
                <li>统计分析管理</li>
                <li>三资监控管理</li>
                <li>经济合同管理</li>
                <li>三资清查管理</li>
            </ul>
        </div>
        <div>应用平台
            <ul>
                <li>统一信息门户</li>
                <li>统一组织机构管理系统</li>
                <li>统一权限管理系统</li>
                <li>统一用户管理系统</li>
                <li>统一身份认证系统</li>
                <li>统一检索平台</li>
                <li>统一报表平台</li>
            </ul>
        </div>
        <div>数据
            <ul>
                <li>党务数据</li>
                <li>政务数据</li>
                <li>村务数据</li>
                <li>财务数据</li>
                <li>热点信息</li>
            </ul>
        </div>
        <div>安全
            <ul>
                <li>物理安全</li>
                <li>网络安全</li>
                <li>信息安全</li>
                <li>安全管理</li>
                <li>数字认证</li>
                <li>安全审计</li>
            </ul>
        </div>
    </div>
</div>

<div class="banner">
    <ul class="imgBox">
        <!-- 图片区域 -->
        <li class="active"><img src="https://i.postimg.cc/wjQ3bmnW/black.webp" alt=""></li>
        <li><img src="https://i.postimg.cc/G3TtnNZT/black1.webp" alt=""></li>
        <li><img src="https://i.postimg.cc/Wb622PSz/black2.webp" alt=""></li>
        <li><img src="https://i.postimg.cc/QdG0J2rQ/timg.jpg" alt=""></li>
    </ul>

    <!-- 焦点区域 -->
    <ol>
        <li data-i="0" data-name="point" class="act"></li>
        <li data-i="1" data-name="point"></li>
        <li data-i="2" data-name="point"></li>
        <li data-i="3" data-name="point"></li>
        <!-- 设置自定义名称 方便检测点击 -->
        <!-- 设定每个焦点的索引值 -->
    </ol>

    <!-- 左右切换按钮 -->
    <div class="left">&lt;</div>
    <!-- 左按钮 -->
    <div class="right">&gt;</div>
    <!-- 右按钮 -->
</div>


</body>
<script type="text/javascript" src='/js/index.js'></script>
</html>