<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" dir="ltr">

<head>
    <title>Home</title>
    <!--此处填写网页标签名 -->
    <meta charset="utf-8">
    <meta http-equiv="refresh">
    <link rel="shortcut icon" href="http://localhost:8081/images/ico/favicon.ico" type="image/x-icon">
    <!--此处加入网页图标 -->
    <link href="http://localhost:8081/css/xbcon.css" rel="stylesheet" type="text/css" media="all" />
    <link href="http://localhost:8081/css/g_style.css" rel="stylesheet" type="text/css" media="all" />
    <!--此处加载模块预置css，不能修改style.css-->
    <link rel="stylesheet" type="text/css" href="http://localhost:8081/css/magnific-popup.css">
    <script type="text/javascript" src="http://localhost:8081/js/jquery.min.js"></script>

    <!-----768px-menu----->
    <script type="text/javascript" src="http://localhost:8081/js/jquery.mmenu.js"></script>
    <link type="text/css" rel="stylesheet" href="http://localhost:8081/css/jquery.mmenu.all.css" />

    <script type="text/javascript">
        //	The menu on the left
        $(function () {
            $('nav#menu-left').mmenu();
        });
    </script>
    <!-----//768px-menu----->
    <style>


        a{

text-decoration:none

}
        ul{
            list-style: none;
            display: block;
        }
        #nav{
            position:relative;
            padding: 0;
            width: 876px;
            height: 50px;
            margin-bottom: 1px  ;
            background-color: #ccc;


            font-size: 30px;


        }
        #line{
            padding: 0;


            top:50px;

            width: 200px;
            height:400px;
            margin-left:7px;
            background-color: #fff;
            border-style: solid;
            border-width:1px;
            border-color: black;

        }
        #line li{
            width:200px;
            text-align:center;

            font-size: 23px;
            height:156px;
            line-height: 50px;
            border-bottom-style: solid;
            border-bottom-color:#999;
            line-height:156px;
            


            border-width: 1px;
        }
        #nav>li{
            width: 292px;
            height: 50px;
            float: left;

            line-height: 50px;
            text-align: center;

        }
        .leftactive{
            background: #fff;
            color: #4ccc;
        }
        #nav>li ul{
            width: 100%;

        }
        #nav>li ul li{
            width: 100%;
            height: 50px;
            background: #ccc;

        }
        /* #nav>li ul{
            display: none;
        }
        #nav>li:hover ul{
            display: block;
        } */


        /* #nav li ul li:hover{
            background: #333;
            color: #fff;
        } */
        /* #nav li:hover{
            background: #333;
            color: #fff;
        } */
        .active{
            background: red;
            color: #fff;
            display: block;
        }
        .inactive{
            display: block;
        }
        .hidden{
            display: none;
        }

        .contentsquare{
            position:relative;

            width:604px;
            height:413px;




        }
        .contentsquare div a{
            font-size: 25px;
            color: black;
        }
        .contentsquare div a:hover{
            color: red;
        }


        </style>
</head>

<body>
<div class="header_bg">
    <div class="wrap">
        <div class="header">
            <div class="logo">
                <a href="index.html">
                    <img src="http://localhost:8081/images/lg.png" alt="">
                    <div class="clear"> </div>
                </a>
            </div>
            <div class="right">



            <div th:if="${session.User==null}" class="login">

                <ul>
                    <li><a href="http://localhost:8081/login">后台登录</a></li>
                </ul>
            </div>
                <div th:if="${session.User!=null}" class="login">
                    <a>欢迎你：</a>
                    <a th:text="${session.User.username}"></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="last" href="http://localhost:8081/logout" style="color:black">退出</a>
                </div>
            <div class="text">
                <p >华迪基层公开综合服务监管系统</p>
            </div>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</div>
<!-- start header -->
<div class="header_btm">
    <div class="wrap">
        <!------start-768px-menu---->
        <div id="page">
            <div id="header">
                <a class="navicon" href="#menu-left"> </a>
            </div>
            <nav id="menu-left">
                <ul>
                    <li class="active"><a href="http://localhost:8081/index" target="_self">首页</a></li>
                    <li><a href="http://localhost:8081/Baseinformation" target="_self">基层信息公开</a></li>
                    <li><a href="">三资管理</a></li>
                    <li><a href="http://localhost:8081/evaluate" target="_self">评价</a></li>

                </ul>
            </nav>
        </div>
        <!------start-768px-menu---->
        <div class="hnav">
            <ul>
                <li><a href="http://localhost:8081/index" target="_self">首页</a></li>
                <li><a href="http://localhost:8081/Baseinformation" target="_self" >基层信息公开</a>
                    <div class="hnavbox">
                        <ul id="hnav1">
                            <li><a href="http://localhost:8081/hotspot/1" target="_self">热点信息公开</a></li>
                            <li><a href="http://localhost:8081/affair/1" target="_self">政务信息公开</a></li>
                            <li><a href="http://localhost:8081/evaluate/1" target="_self">满意度公开</a></li>

                        </ul>
                    </div>
                </li>
                <li><a href="http://localhost:8081/sanZiinformation" target="_self">三资信息公开</a>
                    <div class="hnavbox">
                        <ul id="hnav2">
                            <li><a href="http://localhost:8081/Funds/1" target="_self">资金信息公开</a></li>
                            <li><a href="http://localhost:8081/Property/1" target="_self">资产信息公开</a></li>
                            <li><a href="http://localhost:8081/Resource/1" target="_self">资源信息公开</a></li>


                            <div th:if="${session.User!=null}" >
                                <li><a href="" target="_self">添加报表</a></li>
                                <li><a href="http://localhost:8081/project/1" target="_self">工程项目</a></li>
                            </div>

                        </ul>
                    </div>
                </li>

                <li><a href="http://localhost:8081/evaluate" target="_self">评价</a>

                </li>







            </ul>
            <div class="clear"> </div>
        </div>
    </div>
</div>
<div class="header_bottom">
</div>

<div class="hcontent">
    <div class="hcon">
            <div class="maincon">
                <div class="banner">
                    <ul class="imgBox">
                        <!-- 图片区域 -->
                        <li class="active"><img src="http://localhost:8081/images/3z1.png" alt=""></li>
                        <li><img src="http://localhost:8081/images/3z2.png" alt=""></li>
                        <li><img src="http://localhost:8081/images/3z3.png" alt=""></li>
                        <li><img src="http://localhost:8081/images/3z4.png" alt=""></li>
                    </ul>


                    <!-- 焦点区域 -->
                    <ol>
                        <li data-i="0" data-name="point" class="act"></li>
                        <li data-i="1" data-name="point"></li>
                        <li data-i="2" data-name="point"></li>
                        <li data-i="3" data-name="point"></li>
                        <!-- 设置自定义名称 方便检测点击 -->
                        <!-- 设定每个焦点的索引值 -->
                    </ol>

                    <!-- 左右切换按钮 -->
                    <div class="left">&lt;</div>
                    <!-- 左按钮 -->
                    <div class="right">&gt;</div>
                    <!-- 右按钮 -->
                </div>
                <div style="display:flex;margin-top:10px" >


                    <div >
                <ul id="line" style="height:468px;color:#fff;background-color:red;">


                    <li id="lfir" class="leftactive">
                        <table>
                            <tbody><tr style="position: absolute;float: left;">
                                <td style="  width: 30px;"> <img src="http://localhost:8081/images/index_aff.png" style="width: 30px;height: 30px;"></td>
                                <td>基层信息公开</td>
                            </tr>
                            </tbody></table>

                    </li>
                    <li id="lsec">
                        <table>
                            <tbody><tr style="position: absolute;float: left;">
                                <td style="  width: 30px;"> <img src="http://localhost:8081/images/index_pro.png" style="width: 30px;height: 30px;"></td>
                                <td>三资信息公开</td>
                            </tr>
                            </tbody></table>
                    </li>
                    <li id="lthi">
                        <table>
                            <tbody><tr style="position: absolute;float: left;">
                                <td style="  width: 30px;"> <img src="http://localhost:8081/images/index_eva.png" style="width: 30px;height: 30px; "></td>
                                <td>评价公开</td>
                            </tr>
                            </tbody></table>
                    </li>

                </ul>
            </div>


                    <div style="border-width:1px;border-style:solid;border-color:#000;width:876px;height=468px;">
                    <div >
                        </ul>
                        <ul id="nav">
                            <li id="first" class="active" style="width:438px">热点信息公开</li>
                            <li id="second" class="inactive" style="width:438px">政务信息公开</li>
                            <li id="third" class="hidden">资金信息公开</li>
                            <li id="fourth" class="hidden">资产信息公开</li>
                            <li id="fifth" class="hidden">资源信息公开</li>
                            <li id="sixth" class="hidden" style="width:877px">评价公开</li>
                        </ul>
                    </div>
<div>
                <div id="hotspotinfo" class="contentsquare">
                    <div> <a href="" target="_blank" title="1">热点信息公开内容</a></div>
                    <div> <a href="" target="_blank" title="2">2</a></div>



                </div>
                <div id="affairinfo" class="contentsquare">
                    <div> <a href="" target="_blank" title="1">政务信息公开内容</a></div>
                    <div> <a href="" target="_blank" title="2">2</a></div>
                    <div> <a href="" target="_blank" title="3">3</a></div>
                    <div> <a href="" target="_blank" title="4">4</a></div>

                </div>
                <div id="fundinfo" class="contentsquare">
                    <div> <a href="" target="_blank" title="1">资金信息公开内容</a></div>
                    <div> <a href="" target="_blank" title="2">2</a></div>
                    <div> <a href="" target="_blank" title="3">3</a></div>
                    <div> <a href="" target="_blank" title="4">4</a></div>

                </div>
                <div id="sourceinfo" class="contentsquare">
                    <div> <a href="" target="_blank" title="1">资源信息公开内容</a></div>
                    <div> <a href="" target="_blank" title="2">2</a></div>
                    <div> <a href="" target="_blank" title="3">3</a></div>
                    <div> <a href="" target="_blank" title="4">4</a></div>

                </div>
                <div id="assetinfo" class="contentsquare">
                    <div> <a href="" target="_blank" title="1">资产信息公开内容</a></div>
                    <div> <a href="" target="_blank" title="2">2</a></div>
                    <div> <a href="" target="_blank" title="3">3</a></div>
                    <div> <a href="" target="_blank" title="4">4</a></div>

                </div>
                <div id="evaluateinfo" class="contentsquare">
                    <div> <a href="" target="_blank" title="1">评价信息公开内容</a></div>
                    <div> <a href="" target="_blank" title="2">2</a></div>
                    <div> <a href="" target="_blank" title="3">3</a></div>
                    <div> <a href="" target="_blank" title="4">4</a></div>

                </div>

            </div>
            </div>
                </div>
    </div>
        </div>

    </div>
    <div class="clear"></div>



</body>
<script type="text/javascript" src="http://localhost:8081/js/index.js"></script>
<script>
        var fir= document.getElementById("lfir");
        var sec= document.getElementById("lsec");
        var thi= document.getElementById("lthi");
       var ffir= document.getElementById("first");

       var fsec= document.getElementById("second");
       var sfir= document.getElementById("third");
       var ssec= document.getElementById("fourth");
       var sthi= document.getElementById("fifth");
       var tfir= document.getElementById("sixth");
       var ffircont=document.getElementById("hotspotinfo");
       var fseccont=document.getElementById("affairinfo");
       var sfircont=document.getElementById("fundinfo");
       var sseccont=document.getElementById("assetinfo");
       var sthicont=document.getElementById("sourceinfo");
       var tfircont=document.getElementById("evaluateinfo");



        ffircont.style.display="block";
        fseccont.style.display="none";
        sfircont.style.display="none";
        sseccont.style.display="none";
        sthicont.style.display="none";
        tfircont.style.display="none";



       fir.onmouseover=function()
       {

        if(sec.className=="leftactive")
        {
            sec.className="";
        }
        if(thi.className=="leftactive")
        {
            thi.className="";
        }
        if( fir.className!="leftactive")
        {
            fir.className="leftactive";
            ssec.className="hidden";
            sthi.className="hidden";
            tfir.className="hidden";
            ffir.className="active";
            fsec.className="inactive";
            sfir.className="hidden";
            ffircont.style.display="block";
            fseccont.style.display="none";
            sfircont.style.display="none";
            sseccont.style.display="none";
            sthicont.style.display="none";
            tfircont.style.display="none";
        }




       }
       sec.onmouseover=function()
       {

        if(fir.className=="leftactive")
        {
            fir.className="";
        }
        if(thi.className=="leftactive")
        {
            thi.className="";
        }
        if( sec.className!="leftactive")
        {
            sec.className="leftactive";
            ffir.className="hidden";
            fsec.className="hidden";
            tfir.className="hidden";
            sfir.className="active";
            ssec.className="inactive";
            sthi.className="inactive";
            ffircont.style.display="none";
            fseccont.style.display="none";
            sfircont.style.display="block";
            sseccont.style.display="none";
            sthicont.style.display="none";
            tfircont.style.display="none";
        }

        }





       thi.onmouseover=function()
       {

        if(fir.className=="leftactive")
        {
            fir.className="";
        }
        if(sec.className=="leftactive")
        {
            sec.className="";
        }
        if(thi.className!="leftactive")
        {
            thi.className="leftactive";
            ffir.className="hidden";
            fsec.className="hidden";
            sfir.className="hidden";
            ssec.className="hidden";
            sthi.className="hidden";
            tfir.className="active";
            ffircont.style.display="none";
            fseccont.style.display="none";
            sfircont.style.display="none";
            sseccont.style.display="none";
            sthicont.style.display="none";
            tfircont.style.display="block";
        }

       }

    ffir.onmouseover=function()
    {
        ffir.className="active";
        fsec.className="inactive";
        fseccont.style.display="none";
        ffircont.style.display="block";
    }
    fsec.onmouseover=function()
    {
        fsec.className="active";
        ffir.className="inactive";
        fseccont.style.display="block";
        ffircont.style.display="none";

    }
    sfir.onmouseover=function()
    {
        sfir.className="active";
        ssec.className="inactive";
        sthi.className="inactive";
        sfircont.style.display="block";
        sseccont.style.display="none";
        sthicont.style.display="none";

    }
    ssec.onmouseover=function()
    {
        ssec.className="active";
        sfir.className="inactive";
        sthi.className="inactive";
        sfircont.style.display="none";
        sseccont.style.display="block";
        sthicont.style.display="none";

    }
    sthi.onmouseover=function()
    {
        ssec.className="inactive";
        sfir.className="inactive";
        sthi.className="active";
        sfircont.style.display="none";
        sseccont.style.display="none";
        sthicont.style.display="block";
    }
    </script>
</html>
