<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" dir="ltr">
  <head>
    <title>Home</title><!--此处填写网页标签名 -->
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/ico/favicon.ico" type="image/x-icon"><!--此处加入网页图标 -->
      <link href="css/g_style.css" rel="stylesheet" type="text/css" media="all" /><!--此处加载模块预置css，不能修改g_style.css-->
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
      <link rel="stylesheet" href="/css/lunbo.css">
    <script type="text/javascript" src="js/index.jquery.min.js"></script>
  <!-----768px-menu----->
  <link type="text/css" rel="stylesheet" href="css/jquery.mmenu.all.css" />
  <script type="text/javascript" src="js/jquery.mmenu.js"></script>
    <script type="text/javascript">
      //	The menu on the left
      $(function() {
        $('nav#menu-left').mmenu();
      });
  </script>
  <!-----//768px-menu----->
  </head>

  <body>
    <div class="header_bg">
<div class="wrap">
	<div class="header">
		<div class="logo">
			<a href="index.html">
				<img src="images/lg.png" alt="">
				<div class="clear"> </div>
			 </a>
		</div>
  <div class="right">
    <div class="headerlight">
      <ul>
        <li>个人登录</li>
        <li>政府登录</li>
        <li><a href="login">登录</a></li>>
        <li class="last">退出</li>
    </ul>
    </div>
		<div class="text">
		  <p font-size=30px>华迪基层公开综合服务监管系统</p>
		</div>
  </div>
		<div class="clear"> </div>
	</div>
</div>
</div>
    <div class="header_btm">
	<div class="wrap">
    <!-- start header -->
    <div class="header_btm">
    	<div class="wrap">
    		<!------start-768px-menu---->
    			<div id="page">
    					<div id="header">
    						<a class="navicon" href="#menu-left"> </a>
    					</div>
    					<nav id="menu-left">
    						<ul>
    							<li class="active"><a href="index.html">首页</a></li>
    							<li><a href="">基层信息公开</a></li>
    							<li><a href="">三资管理</a></li>
    							<li><a href="">应用平台</a></li>
    							<li><a href="">数据</a></li>
    							<li><a href="">安全</a></li>
    						</ul>
    					</nav>
    			</div>
    		<!------start-768px-menu---->
    			<div class="header_sub">
    				<div class="h_menu">
    					<ul>
                <li class="active"><a href="index.html">首页</a></li>
                <li><div href="">基层信息公开
                  <ul>
                    <li>党务政务村务公开</li>
                    <li>热点搜集公开</li>
                    <li>廉政公开</li>
                    <li>公开满意度评价</li>
                </ul></div></li>
                <li>
                  <div href="">三资管理
                <ul>
                    <li>总体框架</li>
                    <li>资金管理</li>
                    <li>资产管理</li>
                    <li>资源管理</li>
                    <li>工程项目</li>
                    <li>收入支出</li>
                    <li>报表管理</li>
                    <li>统计分析</li>
                    <li>三资监控</li>
                    <li>经济合同</li>
                    <li>三资清查</li>
                </ul>
            </div>
          </li>
          <li>
          <div href="">应用平台
                <ul>
                    <li>统一信息门户</li>
                    <li>统一机构管理系统</li>
                    <li>统一权限管理系统</li>
                    <li>统一用户管理系统</li>
                    <li>统一身份认证系统</li>
                    <li>统一检索平台</li>
                    <li>统一报表平台</li>
                </ul>
            </div>
            </li>
            <li>
              <div href="">数据
                <ul>
                    <li>党务数据</li>
                    <li>政务数据</li>
                    <li>村务数据</li>
                    <li>财务数据</li>
                    <li>热点信息</li>
                </ul>
              </div>
              </li>
              <li>
            <div>安全
                <ul>
                    <li>物理安全</li>
                    <li>网络安全</li>
                    <li>信息安全</li>
                    <li>安全管理</li>
                    <li>数字认证</li>
                    <li>安全审计</li>
                </ul>
            </div>
            </li>
    					</ul>
    				</div>
    				<div class="h_search">
    		    		<form>
    		    			<input type="text" value="" placeholder="搜索">
    		    			<input type="submit" value="">
    		    		</form>
    				</div>
    				<div class="clear"> </div>
    			</div>
    	</div>
    </div>
    </div>>
    </div>>
        <div class="banner">
            <ul class="imgBox">
                <!-- 图片区域 -->
                <li class="active"><img src="https://i.postimg.cc/wjQ3bmnW/black.webp" alt=""></li>
                <li><img src="https://i.postimg.cc/G3TtnNZT/black1.webp" alt=""></li>
                <li><img src="https://i.postimg.cc/Wb622PSz/black2.webp" alt=""></li>
                <li><img src="https://i.postimg.cc/QdG0J2rQ/timg.jpg" alt=""></li>
            </ul>

            <!-- 焦点区域 -->
            <ol>
                <li data-i="0" data-name="point" class="act"></li>
                <li data-i="1" data-name="point"></li>
                <li data-i="2" data-name="point"></li>
                <li data-i="3" data-name="point"></li>
                <!-- 设置自定义名称 方便检测点击 -->
                <!-- 设定每个焦点的索引值 -->
            </ol>

            <!-- 左右切换按钮 -->
            <div class="left">&lt;</div>
            <!-- 左按钮 -->
            <div class="right">&gt;</div>
            <!-- 右按钮 -->
        </div>

  </body>
  <script type="text/javascript" src='/js/index.js'></script>
</html>
