<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" dir="ltr">

<head>
    <title>首页</title>
    <!--此处填写网页标签名 -->
    <meta charset="utf-8">
    <meta http-equiv="refresh">
    <link rel="shortcut icon" href="http://localhost:8081/images/ico/favicon.ico" type="image/x-icon">
    <!--此处加入网页图标 -->
    <link href="http://localhost:8081/css/xbcon.css" rel="stylesheet" type="text/css" media="all" />
    <link href="http://localhost:8081/css/g_style.css" rel="stylesheet" type="text/css" media="all" />
    <!--此处加载模块预置css，不能修改style.css-->
    <link rel="stylesheet" type="text/css" href="http://localhost:8081/css/magnific-popup.css">
    <script type="text/javascript" src="http://localhost:8081/js/jquery.min.js"></script>

    <!-----768px-menu----->
    <script type="text/javascript" src="http://localhost:8081/js/jquery.mmenu.js"></script>
    <link type="text/css" rel="stylesheet" href="http://localhost:8081/css/jquery.mmenu.all.css" />
    <link type="text/css" rel="stylesheet" href="http://localhost:8081/css/Show.css" />
    <script type="text/javascript">
        //	The menu on the left
        $(function () {
            $('nav#menu-left').mmenu();
        });
    </script>
    <!-----//768px-menu----->
</head>

<body>
<div class="header_bg">
    <div class="wrap">
        <div class="header">
            <div class="logo">
                <a href="http://localhost:8081/index">
                    <img src="http://localhost:8081/images/lg.png" alt="">
                    <div class="clear"> </div>
                </a>
            </div>
            <div class="right">



            <div th:if="${session.User==null}" class="login">

                <ul>
                    <li><a href="http://localhost:8081/login">后台登录</a></li>
                </ul>
            </div>
                <div th:if="${session.User!=null}" class="login">
                    <a>欢迎你：</a>
                    <a th:text="${session.User.username}"></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="last" href="http://localhost:8081/logout" style="color:black">退出</a>
                </div>
            <div class="text">
                <p >华迪基层公开综合服务监管系统</p>
            </div>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</div>
<!-- start header -->
<div class="header_btm">
    <div class="wrap">
        <!------start-768px-menu---->
        <div id="page">
            <div id="header">
                <a class="navicon" href="#menu-left"> </a>
            </div>
            <nav id="menu-left">
                <ul>
                    <li class="active"><a href="http://localhost:8081/index" target="_self">首页</a></li>
                    <li><a href="http://localhost:8081/Baseinformation" target="_self">基层信息公开</a></li>
                    <li><a href="">三资管理</a></li>
                    <li><a href="http://localhost:8081/evaluate" target="_self">评价</a></li>

                </ul>
            </nav>
        </div>
        <!------start-768px-menu---->
        <div class="hnav">
            <ul>
                <li><a href="http://localhost:8081/index" target="_self">首页</a></li>
                <li><a href="http://localhost:8081/Baseinformation" target="_self" >基层信息公开</a>
                    <div class="hnavbox">
                        <ul id="hnav1">
                            <li><a href="http://localhost:8081/hotspot/1" target="_self">热点信息公开</a></li>
                            <li><a href="http://localhost:8081/affair/1" target="_self">政务信息公开</a></li>
                            <li><a href="http://localhost:8081/evaluate/1" target="_self">满意度公开</a></li>

                        </ul>
                    </div>
                </li>
                <li><a href="http://localhost:8081/sanZiinformation" target="_self">三资信息公开</a>
                    <div class="hnavbox">
                        <ul id="hnav2">
                            <li><a href="http://localhost:8081/Funds/1" target="_self">资金信息公开</a></li>
                            <li><a href="http://localhost:8081/Property/1" target="_self">资产信息公开</a></li>
                            <li><a href="http://localhost:8081/Resource/1" target="_self">资源信息公开</a></li>


                            <div th:if="${session.User!=null}" >
                                <li><a href="" target="_self">添加报表</a></li>
                                <li><a href="http://localhost:8081/project/1" target="_self">工程项目</a></li>
                            </div>

                        </ul>
                    </div>
                </li>

                <li><a href="http://localhost:8081/evaluate" target="_self">评价</a>

                </li>







            </ul>
            <div class="clear"> </div>
        </div>
    </div>
</div>
<div class="header_bottom">
</div>

<div class="hcontent">
    <div class="hcon">
            <div class="maincon">
                <div class="banner">
                    <ul class="imgBox">
                        <!-- 图片区域 -->
                        <li class="active"><img src="http://localhost:8081/images/3z1.png" alt=""></li>
                        <li><img src="http://localhost:8081/images/3z2.png" alt=""></li>
                        <li><img src="http://localhost:8081/images/3z3.png" alt=""></li>
                        <li><img src="http://localhost:8081/images/3z4.png" alt=""></li>
                    </ul>


                    <!-- 焦点区域 -->
                    <ol>
                        <li data-i="0" data-name="point" class="act"></li>
                        <li data-i="1" data-name="point"></li>
                        <li data-i="2" data-name="point"></li>
                        <li data-i="3" data-name="point"></li>
                        <!-- 设置自定义名称 方便检测点击 -->
                        <!-- 设定每个焦点的索引值 -->
                    </ol>

<!--                    &lt;!&ndash; 左右切换按钮 &ndash;&gt;-->
<!--                    <div class="left">&lt;</div>-->
<!--                    &lt;!&ndash; 左按钮 &ndash;&gt;-->
<!--                    <div class="right">&gt;</div>-->
<!--                    &lt;!&ndash; 右按钮 &ndash;&gt;-->
                </div>
                <div style="display:flex;margin-top:10px" >

                    <div class="show">
                <ul id="line">


                    <li id="lfir" class="leftactive">
                        <table>
                            <tbody><tr style="position: absolute;float: left;">
                                <td style="  width: 30px;"> <img src="http://localhost:8081/images/index_aff.png" style="width: 30px;height: 30px;"></td>
                                <td>基层信息公开</td>
                            </tr>
                            </tbody></table>

                    </li>
                    <li id="lsec">
                        <table>
                            <tbody><tr style="position: absolute;float: left;">
                                <td style="  width: 30px;"> <img src="http://localhost:8081/images/index_pro.png" style="width: 30px;height: 30px;"></td>
                                <td>三资信息公开</td>
                            </tr>
                            </tbody></table>
                    </li>
                    <li id="lthi">
                        <table>
                            <tbody><tr style="position: absolute;float: left;">
                                <td style="  width: 30px;"> <img src="http://localhost:8081/images/index_eva.png" style="width: 30px;height: 30px; "></td>
                                <td>评价公开</td>
                            </tr>
                            </tbody></table>
                    </li>

                </ul>
            </div>


                    <div style="border-width:1px;border-style:solid;border-color:#000;width:876px;height=468px;border-left:0px;">
                    <div style="padding:30px;">
                        <ul id="nav">
                            <li id="first" class="active" style="width:408px"><a href="http:localhost:8081/hotspot/1">热点信息公开</a> </li>
                            <li id="second" class="inactive" style="width:408px"><a href="http:localhost:8081/affair/1">政务信息公开</a></li>
                            <li id="third" class="hidden"><a href="http:localhost:8081/Funds/1">资金信息公开</a></li>
                            <li id="fourth" class="hidden"><a href="http:localhost:8081/Property/1">资产信息公开</a></li>
                            <li id="fifth" class="hidden"><a href="http:localhost:8081/Source/1">资源信息公开</a></li>
                            <li id="sixth" class="hidden" style="width:816px"><a href="http:localhost:8081/evaluate/1">评价公开</a></li>
                        </ul>
                    </div>
                <div style="padding:30px; padding-top:0px; height:333px;">
                <div id="hotspotinfo" class="contentsquare">
                    <div> <a href="" target="_blank" title="2">2</a></div>

                </div>
                <div id="affairinfo" class="contentsquare">
                    <div> <a href="" target="_blank" title="2">2</a></div>
                    <div> <a href="" target="_blank" title="3">3</a></div>
                    <div> <a href="" target="_blank" title="4">4</a></div>

                </div>
                <div id="fundinfo" class="contentsquare">
                    <div> <a href="" target="_blank" title="2">2</a></div>
                    <div> <a href="" target="_blank" title="3">3</a></div>
                    <div> <a href="" target="_blank" title="4">4</a></div>

                </div>
                <div id="sourceinfo" class="contentsquare">
                    <div> <a href="" target="_blank" title="2">2</a></div>
                    <div> <a href="" target="_blank" title="3">3</a></div>
                    <div> <a href="" target="_blank" title="4">4</a></div>

                </div>
                <div id="assetinfo" class="contentsquare">
                    <div> <a href="" target="_blank" title="2">2</a></div>
                    <div> <a href="" target="_blank" title="3">3</a></div>
                    <div> <a href="" target="_blank" title="4">4</a></div>

                </div>
                <div id="evaluateinfo" class="contentsquare">
                    <div> <a href="" target="_blank" title="2">2</a></div>
                    <div> <a href="" target="_blank" title="3">3</a></div>
                    <div> <a href="" target="_blank" title="4">4</a></div>

                </div>

            </div>
            </div>
                </div>
    </div>
        </div>

    </div>
    <div class="clear"></div>



</body>
<script type="text/javascript" src="http://localhost:8081/js/index.js"></script>
<script type="text/javascript" src="http://localhost:8081/js/Show.js"></script>
</html>
