<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="css/login.css"/>
    <script src="/js/ajax.js"></script>
    <script src="/js/login.js"></script>
<script src="/js/prefixfree.min.js"></script>
</head>
<body>
<div class="container">
  <div class="login">
    <h2>登录</h2>
    <form  th:action="@{/loginUser}" class="more-padding" autocomplete="off" method="post">
        <input name="_method" type="hidden" value="put"/>
    <div class="box">
      <div class="form-group">
        <label >账号</label>
        <input type="text" th:text="${username}" placeholder="请输入用户名" name="username">
      </div>
      <div class="form-group">
        <label for="password">密码</label>
        <input type="password" id="password" name="password"><div class="checkbox">
      </div>
        <h3 th:text="${msg}"></h3>
      </div>
      <button id="btn">登录</button>
    </div>
    </form>
  </div>
</div>






</div>
</body>
</html>
