<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册登录界面Ⅱ</title>
    <link rel="stylesheet" href="/css/style.css">
<script src="/js/prefixfree.min.js"></script>
</head>
<body>
<div class="container">
  <div class="welcome">
    <div class="pinkbox">
      <!-- 注册 -->
      <div class="signup nodisplay">
        <h1>注册</h1>
        <form  autocomplete="off">
          <input type="text" placeholder="请输入用户名">
          <input type="email" placeholder="请输入邮箱">
          <input type="password" placeholder="请输入密码">
          <input type="password" placeholder="请再次确认密码">
          <button class="button submit">创建账户</button>
        </form>
      </div>

      <!-- 登录 -->
      <div class="signin">
        <h1>登录</h1>
        <form  th:action="@{/loginUser}" class="more-padding" autocomplete="off">
          <input type="text" th:text="${username}" placeholder="请输入用户名" name="username"><h1 th:text="${msg}">11</h1>
          <input type="password" placeholder="请输入密码" name="password">
          <div class="checkbox">
            <input type="checkbox" id="remember" /><label for="remember">记住密码</label>
          </div>
          <button class="buttom sumbit">登录</button>
        </form>
      </div>
    </div>

    <div class="leftbox">
      <h2 class="title"><span>BLOOM</span>&<br>BOUQUET</h2>
      <p class="desc">Pick your perfect <span>bouquet</span></p>
      <img class="flower smaller" src="https://hbimg.huabanimg.com/c09305167a883e60179a45374df73252304001359acca-W3qbYm_fw658/format/webp" />
      <p class="account">已有账户？</p>
      <button class="button" id="signin">登录</button>
    </div>

    <div class="rightbox">
      <h2 class="title"><span>BLOOM</span>&<br>BOUQUET</h2>
      <p class="desc">Pick your perfect <span>bouquet</span></p>
      <img class="flower" src="https://hbimg.huabanimg.com/b28be92c8198975a74ad656eba00b352c9b9e589819af-lDXUAS_fw658/format/webp" />
      <p class="account">没有账户?</p>
      <button class="button" id="signup">注册</button>
    </div>
  </div>
</div>

<!-- partial -->
  <script src='../static/js/jquery.min.js'></script><script src="../static/js/script.js"></script>
</body>
</html>
