<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" dir="ltr">

<head>
    <title>Home</title>
    <!--此处填写网页标签名 -->
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/ico/favicon.ico" type="image/x-icon">
    <!--此处加入网页图标 -->
    <link href="css/g_style.css" rel="stylesheet" type="text/css" media="all" />
    <!--此处加载模块预置css，不能修改g_style.css-->
    <link href="css/xbcon.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-----768px-menu----->
    <link type="text/css" rel="stylesheet" href="css/jquery.mmenu.all.css" />
    <link href="css/table.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="js/jquery.mmenu.js"></script>
    <script type="text/javascript">
        //	The menu on the left
        $(function () {
            $('nav#menu-left').mmenu();
        });
    </script>
    <!-----//768px-menu----->
</head>

<body>
<div class="header_bg">
    <div class="wrap">
        <div class="header">
            <div class="logo">
                <a href="index.html">
                    <img src="http://localhost:8081/images/lg.png" alt="">
                    <div class="clear"> </div>
                </a>
            </div>
            <div class="right">

                <!--<div id="header">
			<img class="logo_img" alt="" src="static/img/logo.gif" >
			<span class="wel_word">网上书城</span>
			<div>
				<%--如果用户还没有登录，显示【登录和注册的菜单】--%>
				<c:if test="${empty sessionScope.user}">

					<a href="pages/user/login.jsp">登录</a> |
					<a href="pages/user/regist.jsp">注册</a> &nbsp;&nbsp;
				</c:if>
				<%--如果已经登录，则显示登录成功之后的用户信息--%>
					<c:if test="${not empty sessionScope.user}">
						<span>欢迎<span class="um_span">${sessionScope.user.username}</span>光临尚硅谷书城</span>
						<a href="pages/order/order.jsp">我的订单</a>
						<a href="userServlet?action=logout">注销</a>&nbsp;&nbsp;
					</c:if>
					<a href="pages/cart/cart.jsp">购物车</a>
					<a href="pages/manager/manager.jsp">后台管理</a>
			</div>
	</div>-->


                <div th:if="${session.User==null}" class="login">

                    <ul>
                        <li><a href="http://localhost:8081/login">后台登录</a></li>
                    </ul>
                </div>
                <div th:if="${session.User!=null}" class="login">
                    <a>欢迎你：</a>
                    <a th:text="${session.User.username}"></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="last" href="logout" style="color:black">退出</a>
                </div>
                <div class="text">
                    <p >华迪基层公开综合服务监管系统</p>
                </div>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</div>
<!-- start header -->
<div class="header_btm">
    <div class="wrap">
        <!------start-768px-menu---->
        <div id="page">
            <div id="header">
                <a class="navicon" href="#menu-left"> </a>
            </div>
            <nav id="menu-left">
                <ul>
                    <li class="active"><a href="http://localhost:8081/index" target="_self">首页</a></li>
                    <li><a href="http://localhost:8081/xinxi" target="_self">基层信息公开</a></li>
                    <li><a href="">三资管理</a></li>
                    <li><a href="http://localhost:8081/evaluate" target="_self">评价</a></li>

                </ul>
            </nav>
        </div>
        <!------start-768px-menu---->
        <div class="hnav">
            <ul>
                <li><a href="http://localhost:8081/index" target="_self">首页</a></li>
                <li><a href="http://localhost:8081/hotspot/1" target="_self" >基层信息公开</a>
                    <div class="hnavbox">
                        <ul id="hnav1">
                            <li><a href="http://localhost:8081/hotspot/1" target="_self">热点信息公开</a></li>
                            <li><a href="http://localhost:8081/affair/1" target="_self">政务信息公开</a></li>
                            <li><a href="http://localhost:8081/evaluate/1" target="_self">满意度公开</a></li>

                        </ul>
                    </div>
                </li>
                <li><a href="" target="_self">三资信息公开</a>
                    <div class="hnavbox">
                        <ul id="hnav2">
                            <li><a href="http://localhost:8081/Funds/1" target="_self">资金信息公开</a></li>
                            <li><a href="http://localhost:8081/Property/1" target="_self">资产信息公开</a></li>
                            <li><a href="http://localhost:8081/Resource/1" target="_self">资源信息公开</a></li>


                            <div th:if="${session.User!=null}" >
                                <li><a href="" target="_self">添加报表</a></li>
                                <li><a href="http://localhost:8081/Projecttable" target="_self">工程项目</a></li>
                            </div>

                        </ul>
                    </div>
                </li>

                <li><a href="http://localhost:8081/evaluate" target="_self">评价</a>

                </li>







            </ul>
            <div class="clear"> </div>
        </div>
    </div>
</div>
<div class="header_bottom">
</div>


<!-- 预加载模块结束 -->


<div class="hcontent">
    <div class="hcon">

        <div class="main">
            <div class="set_height" ></div>
            <div class="powz accbg" accidx="67"><a href="" target="_self" title="xxx" class="CurrChnlCls">xxx</a>&nbsp;&gt;&gt;&nbsp;<a href="" target="_self" title="xxx" class="CurrChnlCls">xxx</a>&nbsp;&gt;&gt;&nbsp;<a href="" target="_self" title="xxx" class="CurrChnlCls">xxx</a>
            </div>
            <div class="maincon">
                <div>
                    <form action="Sourcetable">
                        <p style="margin:0 auto; font-size:40px; text-align:center;">资源表</p>
                        <table cellspaceing="0" align="center" border="1" bordercolor="white" class="table">
                            <tr class="active">
                                <td width="100px">镇（社区）</td>
                                <td width="300px"><input type="text"></td>
                                <td width="100px">村（街道）</td>
                                <td width="300px"><input type="text"></td>
                            </tr>
                            <tr >
                                <td>资源种类</td>
                                <td colspan="3"><input type="text"></td>
                            </tr>
                            <tr class="active">
                                <td>资源地址</td>
                                <td colspan="3"><input type="text" ></td>
                            </tr>
                            <tr >
                                <td>资源面积</td>
                                <td colspan="3"><input type="text" ></td>
                            </tr>
                            <tr class="active">
                                <td>资源负责人</td>
                                <td colspan="3"><input type="text" ></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="main01"></div>
    </div>
    <div class="clear"></div>

</div>

</body>

</html>
