<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" dir="ltr">

<head>
    <title>Home</title>
    <!--此处填写网页标签名 -->
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/ico/favicon.ico" type="image/x-icon">
    <!--此处加入网页图标 -->
    <link href="css/g_style.css" rel="stylesheet" type="text/css" media="all" />
    <!--此处加载模块预置css，不能修改g_style.css-->
    <link href="css/xbcon.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-----768px-menu----->
    <link type="text/css" rel="stylesheet" href="css/jquery.mmenu.all.css" />
    <link href="css/table.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="js/jquery.mmenu.js"></script>
    <script type="text/javascript">
        //	The menu on the left
        $(function () {
            $('nav#menu-left').mmenu();
        });
    </script>
    <!-----//768px-menu----->
</head>

<body>
<div class="header_bg">
    <div class="wrap">
        <div class="header">
            <div class="logo">
                <a href="index.html">
                    <img src="images/lg.png" alt="">
                    <div class="clear"> </div>
                </a>
            </div>
            <div class="right">
                <div class="login">
                    <ul>
                        <li>个人登录</li>
                        <li>政府登录</li>
                        <li><a href="login">登录</a></li>>
                        <li class="last">退出</li>
                    </ul>
                </div>
                <div class="text">
                    <p >华迪基层公开综合服务监管系统</p>
                </div>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</div>
<!-- start header -->
<div class="header_btm">
    <div class="wrap">
        <!------start-768px-menu---->
        <div id="page">
            <div id="header">
                <a class="navicon" href="#menu-left"> </a>
            </div>
            <nav id="menu-left">
                <ul>
                    <li class="active"><a href="index.html">首页</a></li>
                    <li><a href="">基层信息公开</a></li>
                    <li><a href="">三资管理</a></li>
                    <li><a href="">应用平台</a></li>
                    <li><a href="">数据</a></li>
                    <li><a href="">安全</a></li>
                </ul>
            </nav>
        </div>
        <!------start-768px-menu---->
        <div class="hnav">
            <ul>
                <li><a href="" target="_blank">首页</a></li>
                <li><a href="" target="_blank">基层信息公开</a>
                    <div class="hnavbox">
                        <ul id="hnavl">
                            <li><a href="" target="_blank">党务政务村务公开</a></li>
                            <li><a href="" target="_blank">热点搜集公开</a></li>
                            <li><a href="" target="_blank">廉政公开</a></li>
                            <li><a href="" target="_blank">公开满意度评价</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="" target="_blank">三资管理</a>
                    <div class="hnavbox">
                        <ul id="hnav2">
                            <li><a href="" target="_blank">总体框架</a></li>
                            <li><a href="Fundstable" target="_blank">资金管理</a></li>
                            <li><a href="Propertytable" target="_blank">资产管理</a></li>
                            <li><a href="Sourcetable" target="_blank">资源管理</a></li>
                            <li><a href="Projecttable" target="_blank">工程项目</a></li>
                            <li><a href="" target="_blank">收入支出</a></li>
                            <li><a href="" target="_blank">报表管理</a></li>
                            <li><a href="" target="_blank">统计分析</a></li>
                            <li><a href="" target="_blank">三资监控</a></li>
                            <li><a href="" target="_blank">经济合同</a></li>
                            <li><a href="" target="_blank">三资清查</a></li>
                            <li><a href="" target="_blank"></a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="" target="_blank">应用平台</a>
                    <div class="hnavbox">
                        <ul id="hnav3">
                            <li><a href="" target="_blank">统一信息门户</a></li>
                            <li><a href="" target="_blank">统一机构管理系统</a></li>
                            <li><a href="" target="_blank">统一权限管理系统</a></li>
                            <li><a href="" target="_blank">统一用户管理系统</a></li>
                            <li><a href="" target="_blank">统一身份认证系统</a></li>
                            <li><a href="" target="_blank">统一检索平台</a></li>
                            <li><a href="" target="_blank">统一报表平台</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="" target="_blank">数据</a>
                    <div class="hnavbox">
                        <ul id="hnav4">
                            <li><a href="" target="_blank">党务数据</a></li>
                            <li><a href="" target="_blank">政务数据</a></li>
                            <li><a href="" target="_blank">村务数据</a></li>
                            <li><a href="" target="_blank">财务数据</a></li>
                            <li><a href="" target="_blank">热点信息</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="" target="_blank">安全</a>
                    <div class="hnavbox">
                        <ul id="hnav5">
                            <li><a href="" target="_blank">物理安全</a></li>
                            <li><a href="" target="_blank">网络安全</a></li>
                            <li><a href="" target="_blank">信息安全</a></li>
                            <li><a href="" target="_blank">安全管理</a></li>
                            <li><a href="" target="_blank">数字认证</a></li>
                            <li><a href="" target="_blank">安全审计</a></li>
                        </ul>
                    </div>
                </li>




                <div class="h_search">
                    <form>
                        <input type="text" value="" placeholder="搜索">
                        <input type="submit" value="">
                    </form>
                </div>
            </ul>





            <div class="clear"> </div>
        </div>
    </div>
</div>
<div class="header_bottom">
</div>
</div>
<!-- 预加载模块结束 -->


<div class="hcontent">
    <div class="hcon">

        <div class="main">
            <div class="set_height" ></div>
            <div class="powz accbg" accidx="67"><a href="" target="_self" title="xxx" class="CurrChnlCls">xxx</a>&nbsp;&gt;&gt;&nbsp;<a href="" target="_self" title="xxx" class="CurrChnlCls">xxx</a>&nbsp;&gt;&gt;&nbsp;<a href="" target="_self" title="xxx" class="CurrChnlCls">xxx</a>
            </div>
            <div class="maincon">
                <div>
                    <form th:action="@{/insertResource}" method="post">
                        <table cellspaceing="0" align="center" border="1" bordercolor="white" class="table">
                            <tr class="active">
                                <td width="100px">镇（社区）</td>
                                <td width="300px"><input name="town" type="text"></td>
                                <td width="100px">村（街道）</td>
                                <td width="300px"><input name="village" type="text"></td>
                            </tr>
                            <tr >
                                <td>资源种类</td>
                                <td colspan="3"><input name="variety" type="text"></td>
                            </tr>
                            <tr class="active">
                                <td>资源地址</td>
                                <td colspan="3"><input name="position" type="text" ></td>
                            </tr>
                            <tr >
                                <td>资源面积</td>
                                <td colspan="3"><input name="area" type="text" ></td>
                            </tr>
                            <tr class="active">
                                <td>资源负责人</td>
                                <td colspan="3"><input name="charger" type="text" ></td>
                            </tr>
                            <tr>
                                <td colspan="4"><input type="submit" value="提交"></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="main01"></div>
    </div>
    <div class="clear"></div>

</div>

</body>

</html>
