<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" dir="ltr">

<head>
    <title>Home</title>
    <!--此处填写网页标签名 -->
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/ico/favicon.ico" type="image/x-icon">
    <!--此处加入网页图标 -->
    <link href="css/g_style.css" rel="stylesheet" type="text/css" media="all" />
    <!--此处加载模块预置css，不能修改g_style.css-->
    <link href="css/xbcon.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-----768px-menu----->
    <link type="text/css" rel="stylesheet" href="css/jquery.mmenu.all.css" />
    <link type="text/css" rel="stylesheet" href="css/xinxi.css" />
    <script type="text/javascript" src="js/jquery.mmenu.js"></script>
    <script type="text/javascript">
        //	The menu on the left
        $(function () {
            $('nav#menu-left').mmenu();
        });
    </script>
    <!-----//768px-menu----->
</head>

<body>
<div class="header_bg">
    <div class="wrap">
        <div class="header">
            <div class="logo">
                <a href="index.html">
                    <img src="images/lg.png" alt="">
                    <div class="clear"> </div>
                </a>
            </div>
            <div class="right">
                <div class="login">
                    <ul>
                        <li>个人登录</li>
                        <li>政府登录</li>
                        <li><a href="login">登录</a></li>>
                        <li class="last">退出</li>
                    </ul>
                </div>
                <div class="text">
                    <p >华迪基层公开综合服务监管系统</p>
                </div>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</div>
<!-- start header -->
<div class="header_btm">
    <div class="wrap">
        <!------start-768px-menu---->
        <div id="page">
            <div id="header">
                <a class="navicon" href="#menu-left"> </a>
            </div>
            <nav id="menu-left">
                <ul>
                    <li class="active"><a href="index.html">首页</a></li>
                    <li><a href="">基层信息公开</a></li>
                    <li><a href="">三资管理</a></li>
                    <li><a href="">应用平台</a></li>
                    <li><a href="">数据</a></li>
                    <li><a href="">安全</a></li>
                </ul>
            </nav>
        </div>
        <!------start-768px-menu---->
        <div class="hnav">
            <ul>
                <li><a href="" target="_blank">首页</a></li>
                <li><a href="" target="_blank">基层信息公开</a>
                    <div class="hnavbox">
                        <ul id="hnavl">
                            <li><a href="" target="_blank">党务政务村务公开</a></li>
                            <li><a href="" target="_blank">热点搜集公开</a></li>
                            <li><a href="" target="_blank">廉政公开</a></li>
                            <li><a href="" target="_blank">公开满意度评价</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="" target="_blank">三资管理</a>
                    <div class="hnavbox">
                        <ul id="hnav2">
                            <li><a href="" target="_blank">总体框架</a></li>
                            <li><a href="" target="_blank">资金管理</a></li>
                            <li><a href="" target="_blank">资产管理</a></li>
                            <li><a href="" target="_blank">资源管理</a></li>
                            <li><a href="" target="_blank">工程项目</a></li>
                            <li><a href="" target="_blank">收入支出</a></li>
                            <li><a href="" target="_blank">报表管理</a></li>
                            <li><a href="" target="_blank">统计分析</a></li>
                            <li><a href="" target="_blank">三资监控</a></li>
                            <li><a href="" target="_blank">经济合同</a></li>
                            <li><a href="" target="_blank">三资清查</a></li>
                            <li><a href="" target="_blank"></a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="" target="_blank">应用平台</a>
                    <div class="hnavbox">
                        <ul id="hnav3">
                            <li><a href="" target="_blank">统一信息门户</a></li>
                            <li><a href="" target="_blank">统一机构管理系统</a></li>
                            <li><a href="" target="_blank">统一权限管理系统</a></li>
                            <li><a href="" target="_blank">统一用户管理系统</a></li>
                            <li><a href="" target="_blank">统一身份认证系统</a></li>
                            <li><a href="" target="_blank">统一检索平台</a></li>
                            <li><a href="" target="_blank">统一报表平台</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="" target="_blank">数据</a>
                    <div class="hnavbox">
                        <ul id="hnav4">
                            <li><a href="" target="_blank">党务数据</a></li>
                            <li><a href="" target="_blank">政务数据</a></li>
                            <li><a href="" target="_blank">村务数据</a></li>
                            <li><a href="" target="_blank">财务数据</a></li>
                            <li><a href="" target="_blank">热点信息</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="" target="_blank">安全</a>
                    <div class="hnavbox">
                        <ul id="hnav5">
                            <li><a href="" target="_blank">物理安全</a></li>
                            <li><a href="" target="_blank">网络安全</a></li>
                            <li><a href="" target="_blank">信息安全</a></li>
                            <li><a href="" target="_blank">安全管理</a></li>
                            <li><a href="" target="_blank">数字认证</a></li>
                            <li><a href="" target="_blank">安全审计</a></li>
                        </ul>
                    </div>
                </li>




                <div class="h_search">
                    <form>
                        <input type="text" value="" placeholder="搜索">
                        <input type="submit" value="">
                    </form>
                </div>
            </ul>





            <div class="clear"> </div>
        </div>
    </div>
</div>
<div class="header_bottom">
</div>
</div>
<!-- 预加载模块结束 -->




<div class="hcontent">
    <div class="hcon">

        <div class="main">
            <div class="set_height" ></div>
            <div class="powz accbg" accidx="67"><a href="index" target="_self" title="xxx" class="CurrChnlCls">首页</a>&nbsp;&gt;&gt;&nbsp;<a href="xinxi" target="_self" title="xxx" class="CurrChnlCls">基层信息公开</a>&nbsp;&gt;&gt;&nbsp;<a href="" target="_self" title="xxx" class="CurrChnlCls">xxx</a>
            </div>
            <div class="maincon">
                <div class="con_title">
                    <div class="second_title">
                        “政府信息”
                        <span style="font-size:20px margin-left:50px color:#313131">按发稿时间排序</span>
                    </div>
                </div>




                <table id="dataTable"   style="margin:0 auto; width:100%">

                    <tr style="border-bottom: 1px solid black; height:80px; line-height:80px;" th:each="hotspot : ${pages.list}">
                        <td th:text="${hotspot.title}" style="font-size:50px; font-weight:bold;"></td>
                        <td th:text="${hotspot.time}"  align="right" style="font-size:20px"></td>
                        <td>
                            <a @click="deleteEmployee" th:href="@{/hotspot/}+${hotspot.title}">delete</a>
                            <a th:href="@{'/hotspot/'+${hotspot}}">update</a>
                        </td>
                    </tr>
                </table>
                <form id="deleteForm" method="post">
                    <input type="hidden" name="_method" value="delete">
                </form>

                </div>

            </div>
        </div>
        <div class="main01"></div>
    </div>
    <div class="clear"></div>

</div>
</body>
<script type="text/javascript" th:src="@{/js/vue.js}"></script>
<script type="text/javascript">
    var vue=new Vue({
        el:"#dataTable",
        methods:{
            deleteEmployee:function (event) {
                //根据id获取单击事件
                var deleteForm=document.getElementById("deleteForm");
                //触发点击事件的href属性赋值给表单的action
                deleteForm.action=event.target.href;
                //提交表单
                deleteForm.submit();
                //取消超链接默认行为
                event.preventDefault();
            }
        }
    });
</script>

</html>
