<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">




<mapper namespace="com.atschool.hdbasicserver.mapper.AffairMapper">

<!--public void addAffair(String title, String time, String picture, String content);-->
    <insert id="addAffair">
        insert into affair(`title`,`time`,`picture`,`content`) values (#{title},#{time},#{picture},#{content})
    </insert>


<!--public List<Affair> getAffair();-->
    <select id="getAffair" resultType="com.atschool.hdbasicserver.bean.Affair">
        select * from affair
    </select>

<!--public void deleteByID(int id);-->
    <delete id="deleteByID">
        delete from affair where `id` =#{id}
    </delete>

<!--public Affair getAffairByID(int id);-->
    <select id="getAffairByID" resultType="com.atschool.hdbasicserver.bean.Affair">
        select * from affair where `id` =#{id}
    </select>
</mapper>