<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atschool.hdbasicserver.mapper.FundsMapper">

    <!--public void addFunds(String town, String village, int account, int realaccount, boolean available, String comment, String accountant, String functionary);-->
    <insert id="addFunds">
        insert into funds(`town`,`village`,`account`,`realaccount`,`available`,`comment`,`accountant`,`functionary`) values (#{town},#{village},#{account},#{realAccount},#{available},#{comment},#{accountant},#{functionary})
    </insert>

    <!--public List<Funds> getFunds();-->
    <select id="getFunds" resultType="com.atschool.hdbasicserver.bean.Funds">
        select * from funds
    </select>

    <!--public void deleteFunds(int id):-->
    <delete id="deleteFunds">
        delete from funds where `id`=#{id}
    </delete>

    <!--public List<Funds> getIncome();-->
    <select id="getIncome" resultType="com.atschool.hdbasicserver.bean.Funds">
        select * from funds where realaccount &gt; 0
    </select>

    <!-->public List<Funds> getExpend();-->
    <select id="getExpend" resultType="com.atschool.hdbasicserver.bean.Funds">
        select * from funds where realaccount &lt; 0
    </select>

    <!--public Funds getFundsByID(int id);-->
    <select id="getFundsByID" resultType="com.atschool.hdbasicserver.bean.Funds">
        select * from funds where `id`=#{id}
    </select>
</mapper>