<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.atschool.hdbasicserver.mapper.HotspotMapper">

<!--public void addHotspot(String title, String time, String laiyuan, String content);-->
    <insert id="addHotspot">
        insert into hotspot(`title`,`time`,`laiyuan`,`content`) values (#{title},#{time},#{laiyuan},#{content})
    </insert>



<!--public List<Hotspot> getHotspot();-->
    <select id="getHotspot" resultType="com.atschool.hdbasicserver.bean.Hotspot">
        select * from hotspot order by time desc
    </select>

    <!--public void deleteByID(int id);-->
    <delete id="deleteByID">
        delete from hotspot where `id` =#{id}
    </delete>


    <!--public Hotspot getHotspotById(int id);-->
    <select id="getHotspotById" resultType="com.atschool.hdbasicserver.bean.Hotspot">
        select * from hotspot where `id` =#{id}
    </select>

</mapper>