<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atschool.hdbasicserver.mapper.LoginMapper">
    <!--public User findUserByName(String name);-->
    <select id="findUserByName" resultType="com.atschool.hdbasicserver.bean.User">
        select username,password from ordinaryuser where username=#{name};
    </select>
    <!--public void registerUser(String username,String password);-->
    <insert id="registerUser">
        insert into ordinaryuser(username,password) values (#{username},#{password});
    </insert>
</mapper>


